@media (max-width: 1750px) {
    .header {
        .logo {
            margin: 36px 50px 0 0;
        }
        &__menu-item+&__menu-item {
            margin-left: 30px;
        }
        &__contacts {
            margin-right: 40px;
        }
    }
    .call-btn {
        padding: 18px 50px;
    }
    .footer .call-btn {
        min-width: 233px;
    }
    .partners {
        &__item-img {
            img {
                max-width: 300px;
            }
        }
    }
}

@media (max-width: 1600px) {
    .container {
        padding: 0 100px;
    }
    .contact-us__form {
        margin-right: 0;
    }
    .footer {
        &__center {
            flex-wrap: wrap;
            justify-content: center;
        }
        &__link-tel {
            margin-bottom: 8px;
        }
    }
}

@media (max-width: 1500px) {
    .header {
        .logo {
            margin: 26px 40px 0 0;
        }
        &__menu-item {
            margin: 26px 0;
        }
        &__menu-item+&__menu-item {
            margin-left: 20px;
        }
        &__contacts {
            margin-right: 30px;
        }
    }
    .call-btn {
        padding: 18px 40px;
    }
    .footer .call-btn {
        min-width: 213px;
    }
    h1 {
        font-size: 84px;
        line-height: 84px;
    }
    h2 {
        font-size: 58px;
        line-height: 71px;
    }
    h3 {
        font-size: 35px;
        line-height: 45px;
    }
    .header-slider {
        &__btnnext {
            right: 8.01vw;
        }
    }
    .about-us {
        &__item-text {
            margin: 0 30px;
        }
    }
    .partners {
        &__item-img {
            img {
                max-width: 265px;
            }
        }
    }
}

@media (max-width: 1350px) {
    .header-slider {
        &__item-title {
            padding-bottom: 60px;
            max-width: 580px;
        }
        &__item-box {
            padding-top: 200px;
            max-width: 580px;
        }
        &__item-text {
            margin-bottom: 44px;
        }
        &__item-text p+p {
            margin-left: 77px;
        }
    }
    .menu-btn {
        display: block;
    }
    .header__menu {
        display: none;
        position: absolute;
        top: 100px;
        left: 0;
        right: 0;
        padding: 0 330px 20px 130px;
        background: rgba(0, 0, 0, 0.31);
        backdrop-filter: blur(19px);
        z-index: 10;
        &-item+&-item {
            margin-left: 50px;
        }
    }
    h1 {
        font-size: 67px;
        line-height: 67px;
    }
    h2 {
        font-size: 46px;
        line-height: 57px;
    }
    h3 {
        font-size: 28px;
        line-height: 36px;
    }
    .contacts-box {
        margin-right: 50px;
    }
    .about-us {
        &__item-text {
            margin: 0 20px;
        }
    }
    .partners {
        &__item {
            padding: 0 10px;
            min-height: 200px;
        }
        &__item-img {
            img {
                max-width: 215px;
            }
        }
    }
}

@media (max-width: 1220px) {
    .header-slider {
        &__btnnext {
            right: 7.01vw;
        }
    }
    .footer {
        .confidentiality {
            min-width: 180px;
        }
        &__right {
            flex-wrap: wrap;
        }
        &__center {
            margin-right: 0;
        }
        &__link-vk {
            margin-bottom: 20px;
        }
    }
    .about-us {
        &__item {
            min-height: 230px;
        }
    }
    .partners {
        &__wrapper {
            flex-wrap: wrap;
            justify-content: space-between;
        }
        &__item+&__item {
            margin-left: 0;
        }
    }
}

@media (max-width: 1055px) {
    .container {
        padding: 0 50px;
    }
    .header__contacts-tel {
        font-size: 22px;
        line-height: 33px;
    }
    .call-btn {
        padding: 12px 30px;
    }
    .footer {
        .call-btn {
            min-width: 193px;
        }
    }
    .header {
        .logo {
            margin: 20px 40px 0 0;
        }
        &__menu {
            top: 97px;
            padding: 0 230px 20px 70px;
        }
        &__menu-item {
            margin: 20px 0;
        }
    }
    .menu-btn {
        margin-top: 24px;
    }
    .header-slider {
        &__btnnext {
            right: 6.01vw;
        }
    }
}

@media (max-width: 1024px) {
    .about-us {
        &__wrapper {
            flex-wrap: wrap;
            justify-content: space-between;
        }
        &__item+&__item {
            margin-left: 0;
        }
        &__wrapper-2 {
            .about-us__item:nth-child(n+2) {
                display: none;
            }
        }
    }
    .page-404 {
        .logo {
            padding-top: 30px;
            margin-bottom: 60px;
        }
        &__title {
            font-size: 260px;
            line-height: 260px;
        }
    }
    .catalog {
        &__item-drop {
            font-size: 26px;
            line-height: 30px;
            padding: 20px 0;
        }
        &__item-drop::before {
            width: 30px;
            top: 36px;
        }
        &__item-drop::after {
            width: 30px;
            top: 36px;
        }
    }
    .catalog-item {
        &__content {
            margin-bottom: 40px;
        }
        &__content-box {
            margin-bottom: 25px;
        }
    }
}

@media (max-width: 955px) {
    .footer {
        &__inner {
            flex-wrap: wrap;
        }
        &__center {
            justify-content: flex-start;
            margin-bottom: 30px;
        }
        &__right {
            max-width: 120px;
            margin-bottom: 20px;
        }
        &__link-tel {
            margin-bottom: 0;
        }
        &__link-vk {
            margin-bottom: 0;
        }
        .call-btn {
            margin-bottom: 30px;
        }
    }
}

@media (max-width: 900px) {
    .header {
        &__menu {
            padding: 0 130px 20px 70px;
        }
        &__contacts {
            display: none;
        }
    }
    .header-slider {
        &__btnnext {
            right: 5.01vw;
        }
    }
    .contacts__wrapper {
        display: block;
    }
    .contacts-box {
        margin-right: 20px;
        margin-bottom: 64px;
    }
    .about-us {
        &__item {
            max-width: 334px;
        }
    }
    .partners {
        &__item {
            max-width: 334px;
        }
    }
}

@media (max-width: 800px) {
    .header {
        &__menu {
            padding: 0 70px 20px 70px;
            top: 93px;
        }
    }
    .header-slider {
        &__item-box {
            padding-top: 180px;
        }
        &__btnnext {
            right: 4.01vw;
        }
        &__item-text p+p {
            margin-left: 30px;
        }
    }
    .footer {
        &__center {
            max-width: 480px;
        }
    }
    #success-modal {
        padding: 50px;
        .close-modal {
            top: 25px;
            right: 25px;
        }
        .success-modal__text {
            margin-bottom: 30px;
        }
    }
    #call-me-modal {
        padding: 50px;
        .close-modal {
            top: 25px;
            right: 25px;
        }
        .contact-us__text {
            margin-bottom: 30px;
        }
    }
    .about-us {
        &__item {
            max-width: 264px;
            min-width: 200px;
        }
    }
    .partners {
        &__item {
            max-width: 284px;
        }
    }
    .page-404 {
        &__title {
            font-size: 200px;
            line-height: 200px;
        }
    }
    .catalog {
        &-list {
            max-width: 792px;
            margin-right: 30px;
        }
        &__item-drop {
            font-size: 22px;
            line-height: 26px;
            padding: 15px 0;
        }
        &__item-drop::before {
            width: 25px;
            top: 28px;
        }
        &__item-drop::after {
            width: 25px;
            top: 28px;
        }
    }
    .catalog-item {
        &__content {
            margin-bottom: 30px;
        }
        &__content-box {
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 710px) {
    .header {
        &__menu {
            padding: 0 50px 20px 50px;
        }
        &__menu-item+&__menu-item {
            margin-left: 20px;
        }
    }
    .header-slider {
        &__item-inner {
            display: block;
        }
        &__item-box {
            padding-top: 150px;
        }
        &__item-indicator {
            padding-top: 0;
            padding-left: 60vw;
        }
        &__btn {
            top: 80%;
        }
        &__btnnext {
            right: 11vw;
        }
        &__btnprev {
            right: 23vw;
        }
        &__item-box {
            max-width: 650px;
            margin-right: 10px;
        }
        &__item-btnmore {
            padding: 15px 80px 15px 20px;
            margin-bottom: 50px;
        }
        &__item-btnmore::after {
            right: 22px;
        }
    }
    .contacts {
        &__inner {
            padding-bottom: 64px;
        }
        &__title {
            margin-bottom: 32px;
        }
        &__form-title {
            margin-bottom: 24px;
        }
    }
    .contacts-box {
        margin-right: 0;
        margin-bottom: 32px;
        &__contacts,
        &__social {
            padding: 20px;
        }
    }
    .footer {
        &__center {
            max-width: 300px;
        }
    }
    .about-us {
        &__item {
            max-width: 234px;
        }
    }
    .partners {
        &__item {
            max-width: 240px;
        }
    }
    .catalog {
        &-list {
            max-width: 265px;
        }
    }
}

@media (max-width: 600px) {
    .container {
        padding: 0 20px;
    }
    .header {
        &__inner {
            display: block;
            padding-top: 0;
        }
        &__left {
            margin-bottom: 20px;
        }
        &__menu {
            background: rgba(0, 0, 0, 0.9);
            padding: 0 50px 20px 40px;
            top: 151px;
        }
        &__menu-list {
            display: block;
        }
        &__menu-item {
            margin: 10px 0;
            a {
                padding: 20px 0 8px;
                display: block;
            }
        }
        &__menu-item+&__menu-item {
            margin-left: 0;
        }
    }
    .header-slider {
        &__item-box {
            padding-top: 140px;
        }
        &__btnprev {
            right: 24vw;
        }
    }
    h1 {
        font-size: 56px;
        line-height: 56px;
    }
    h2 {
        font-size: 37px;
        line-height: 46px;
    }
    h3 {
        font-size: 23px;
        line-height: 29px;
    }
    .about-us {
        &__wrapper {
            justify-content: center;
        }
        &__wrapper-2 {
            display: none;
        }
        &__item {
            max-width: 340px;
            min-height: 170px;
        }
    }
    .partners {
        &__item {
            max-width: 220px;
            min-height: 180px;
        }
        &__item-img img {
            max-width: 190px;
        }
    }
    .page-404 {
        &__title {
            font-size: 170px;
            line-height: 170px;
        }
    }
    .catalog {
        &__wrapper {
            display: block;
        }
        &-list {
            max-width: 560px;
            margin-bottom: 30px;
        }
    }
}

@media (max-width: 500px) {
    .header {
        &__menu {
            top: 147px;
        }
    }
    .header-slider {
        body {
            line-height: 18px;
        }
        &__item-title {
            padding-bottom: 30px;
            margin-bottom: 10px;
        }
        &__item-text {
            display: block;
            p {
                margin-bottom: 15px;
            }
            p+p {
                margin-left: 0;
            }
        }
        &__btn {
            top: 86%;
        }
        &__btnprev {
            right: 25vw;
        }
        &__item-btnmore {
            padding: 10px 60px 10px 10px;
            line-height: 20px;
            margin-bottom: 20px;
            &::after {
                top: 14px;
                right: 10px;
            }
        }
    }
    h1 {
        font-size: 45px;
        line-height: 45px;
    }
    h2 {
        font-size: 30px;
        line-height: 37px;
    }
    h3 {
        font-size: 18px;
        line-height: 23px;
    }
    .call-btn {
        padding: 10px 20px;
    }
    .footer {
        &__center {
            max-width: 220px;
        }
        .call-btn {
            min-width: 183px;
        }
    }
    .contacts__inner {
        padding-bottom: 32px;
    }
    #success-modal {
        .close-modal {
            top: 15px;
            right: 15px;
        }
    }
    #call-me-modal {
        .close-modal {
            top: 15px;
            right: 15px;
        }
    }
    .about-us {
        &__item {
            min-height: 160px;
        }
    }
    .partners {
        &__wrapper {
            justify-content: center;
        }
        &__item {
            max-width: 250px;
        }
    }
    .page-404 {
        &__title {
            font-size: 140px;
            line-height: 140px;
        }
    }
}

@media (max-width: 450px) {
    .header-slider {
        &__btnprev {
            right: 28vw;
        }
    }
    h1 {
        font-size: 36px;
        line-height: 36px;
    }
    h2 {
        font-size: 24px;
        line-height: 29px;
    }
    h3 {
        font-size: 18px;
        line-height: 20px;
    }
    .call-btn {
        padding: 10px 20px;
    }
}

@media (max-width: 400px) {
    body {
        font-size: 14px;
        line-height: 16px;
    }
    .header {
        &__menu {
            top: 130px;
        }
    }
    .header-slider {
        &__item-text {
            margin-bottom: 30px;
            p {
                margin-bottom: 10px;
            }
        }
        &__btn {
            top: 85%;
        }
        &__btnprev {
            right: 30vw;
        }
    }
    h1 {
        font-size: 30px;
        line-height: 30px;
    }
    h2 {
        font-size: 22px;
        line-height: 25px;
    }
    h3 {
        font-size: 18px;
        line-height: 20px;
    }
    .footer {
        &__left {
            flex-wrap: wrap;
            margin-bottom: 30px;
        }
        &__link-tel {
            margin-bottom: 20px;
        }
        &__link-tel::before {
            top: -5px;
        }
        &__link-email::before {
            top: 0;
        }
        &__right {
            max-width: 60px;
        }
        &__link-vk {
            margin-bottom: 15px;
        }
        .call-btn {
            min-width: 157px;
        }
    }
    .catalog {
        &__item-drop {
            font-size: 18px;
        }
        &__item-drop::before {
            width: 20px;
        }
        &__item-drop::after {
            width: 20px;
        }
    }
}